<h1>Edit Question Form </h1>

  <%= form_with model:([ @casestudy, @questions]), url: question_path do |form| %>

    <div>
        <%= form.label :tile %><br>
        <%= form.text_field :tile %>
    </div>
    
    <div>
        <%= form.label :body %><br>
        <%= form.text_field :body %>
    </div>


    <div>
        <%= form.submit %>
    </div>

    
<%end%>

<br>

<%= link_to "Return to Casetudy", casestudy_path(params[:casestudy_id]) %>
