<h1>Questions</h1>

<% if can? :create, Question %>
    <%= link_to "Create Questions", new_question_path %>
<% end %>

<table>
  <tr>
    <th>ID</th>
    <th>Title</th>
  </tr>

  <% @questions.each  do |q| %>
  <tr>
      <td><%= q.id%></td>
      <td><%= q.tile %></td>
    
      <td>
      <% if can? :update, q %>
        <%= link_to "Edit", edit_question_path(@casestudy, q) %>
      <% end %>
      </td>
      <td>
      <% if can? :update, q %>
        <%= link_to "Show", question_path(@casestudy, q) %>
      <% end %>
      </td>
      <td>
      <% if can? :update, q %>
        <%= link_to "Delete Question", delete_question_path(params[:casestudy_id], q.id), method: :delete %>
      <% end %>
      </td>
  </tr>
  <% end %>
</table>

<br>

<%= link_to "Return to Casetudy", casestudy_path(params[:casestudy_id]) %>
