Name of Casestudy : <%= @casestudy.tile %>
Duration of Casestudy <%= @casestudy.duration %>
Scale : <%= @casestudy.scale %>

<div id="timer"></div>


<% @casestudy.pages.each do |p| %>

<%= p.body %>

<% end %>
<br>
<% @casestudy.questions.each do |q| %>
<br>
<td>
    <%= q.tile %>
    <%= render "user_responses/response_form", response: q.user_responses.find_by(user_id: current_user.id) %>
<td>
<% end %>

<%= link_to 'Submit answers', final_submit_path(@casestudy_user) %>

<script>
    const current_path = window.location.pathname

    duration = <%= @duration  %> * 60
    console.log(duration)

    countSec = 0;
    timeRemaining = duration - <%= @casestudy_user.time_elapsed %>

    console.log(timeRemaining);
    cd_timer  = setInterval(updateTimer, 1000)
    update_db = setInterval(updateDB, 5000)
    
    function updateDB() {
            if(current_path != location.pathname) {
                clearInterval(cd_timer);
                clearInterval(update_db);
                return;
            }
                const request = new XMLHttpRequest();
                console.log(request)
                request.open("post", "<%= update_time_path(@casestudy_user) %>");
                const token = document.querySelector('meta[name="csrf-token"]').content;
                request.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
                request.setRequestHeader("X-CSRF-Token", token);
                request.send(`time_elapsed=${5}`);
    }

    function updateTimer(){
         if(current_path != location.pathname) {
                clearInterval(cd_timer);
                clearInterval(update_db);
                return;
        }

        timeRemaining = timeRemaining - 1;
        console.log(timeRemaining)
        timeRemainingMinutes = Math.floor(timeRemaining/60 );
        timeRemainingSeconds = Math.floor(timeRemaining % 60);
        timer.innerHTML = + timeRemainingMinutes + " Minutes : " + timeRemainingSeconds + " seconds";

        if(timeRemaining <= 0 ){
            clearInterval(cd_timer);
            clearInterval(update_db);

                const request = new XMLHttpRequest();
                request.open("get", "<%= final_submit_path %>");
                const token = document.querySelector('meta[name="csrf-token"]').content;
                request.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
                request.setRequestHeader("X-CSRF-Token", token);
                request.send();

        }
    }
</script>
